<h3>Para hacer</h3>

<div class="row">
	<div class="col-sm-6 col-md-3">
		<a class="thumbnail" href="#">
   			<img alt="Comprar" src="/themes/bootstrap/images/galery/comer.jpg" />
   			<div class="caption">
    			<h4>Comprar</h4>
   			</div>
  		</a>
 	</div>

 	<div class="col-sm-6 col-md-3">
	  	<a class="thumbnail" href="#">
	   		<img alt="Comer" src="/themes/bootstrap/images/galery/vitrinear.jpg" />
	  		<div class="caption">
				<h4>Vitrinear</h4>
			</div>
	 	</a>
	</div>
	<div class="col-sm-6 col-md-3">
	  	<a class="thumbnail" href="#">
	   		<img alt="Compartir" src="/themes/bootstrap/images/galery/pasarlo-bien.jpg" />
	  		<div class="caption">
				<h4>Compartir</h4>
			</div>
	 	</a>
	</div>
	<div class="col-sm-6 col-md-3">
		<a class="thumbnail" href="#">
			<img alt="Pasarlo bien" src="/themes/bootstrap/images/galery/sky.jpg" />
			<div class="caption">
				<h4>Pasarlo bien</h4>
			</div>
		</a>
	</div>
</div>
<!---->

<div class="container-fluid">
<p class="text-align-center">&nbsp;</p>
<h4 style="display:inline; margin: 3px 0px;">¿Cómo llegar?</h4>
<hr style="margin: 3px 0px;" />
<div class="row">
	<div class="col-xs-3"><a href="#" class="car-ico"></a></div>
	<div class="col-xs-3"><a href="#" class="bus-ico"></a></div>
	<div class="col-xs-3"><a href="#" class="walk-ico"></a></div>
</div>
<div class="row">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.2015632318776!2d-70.60857878518135!3d-33.41798900323226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf69d4854951%3A0x9a87ef2fefaad0df!2sCostanera+Center!5e0!3m2!1ses!2scl!4v1543385431394" width="auto" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.2015632318776!2d-70.60857878518135!3d-33.41798900323226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf69d4854951%3A0x9a87ef2fefaad0df!2sCostanera+Center!5e0!3m2!1ses!2scl!4v1543385431394" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



<div class="container-fluid">
  <div class="row page-horarios">
    <div class="col-sm-6" style="">
    	<h3>Tiendas</h3>
    	<p class="calendar-ico">Lunes a Domingo</p>
    	<p class="clock-ico">10:00 a 22:00 hrs</p>
    </div>
    <div class="col-sm-6" style="">
    	<h3>Grandes Tiendas</h3>
    	<p class="calendar-ico">Lunes a Domingo</p>
    	<p class="clock-ico">10:00 a 22:00 hrs</p>
    </div>
  	<div class="col-sm-6" style="">
  		<h3>Jumbo</h3>
    	<p class="calendar-ico">Lunes a Sábado</p>
    	<p class="clock-ico">10:00 a 22:00 hrs</p>
    	<br>
    	<p class="calendar-ico">Domingo y Festivos</p>
    	<p class="clock-ico">10:00 a 23:30 hrs</p>
  	</div>
    <div class="col-sm-6" style="">
    	<h3>Jumbo</h3>
    	<p class="calendar-ico">Lunes a Viernes</p>
    	<p class="clock-ico">10:00 a 22:00 hrs</p>
    	<br>
    	<p class="calendar-ico">Sábado, Domingo y Festivos</p>
    	<p class="clock-ico">10:00 a 23:30 hrs</p>
    </div>
    <div class="col-sm-6" style="">
    	<h3>Patio de Comidas</h3>
    	<p class="calendar-ico">Lunes a Viernes</p>
    	<p class="clock-ico">10:00 a 22:00 hrs</p>
    	<br>
    	<p class="calendar-ico">Sábado, Domingo y Festivos</p>
    	<p class="clock-ico">10:00 a 23:30 hrs</p>
    </div>
    <div class="col-sm-6" style="">
    	<h3>Sabores Costanera</h3>
    	<p class="calendar-ico">Lunes a Viernes</p>
    	<p class="clock-ico">10:00 a 22:00 hrs</p>
    	<br>
    	<p class="calendar-ico">Sábado, Domingo y Festivos</p>
    	<p class="clock-ico">10:00 a 23:30 hrs</p>
    </div>
  </div>
</div>

<span class="auxiliar-bar">
	<!--Left side-->
	<span>
		<hr class="hr-vertical">
		<span class="help-links">
			<a href="/" class="icon-left">
				<img alt="reloj" src="/themes/bootstrap/images/icons/clock-quarter.png" />
		   		<span>Horarios</span>
			</a>
			<a href="#maps" class="icon-left">
		    	<img alt="reloj" src="/themes/bootstrap/images/icons/pin.png" />
		   		<span>Cómo llegar</span>
			</a>
		</span>
		<hr class="hr-vertical">
		<a href="/" class="asd">
	   		<span>Sitio Accesible</span>
		</a>
	</span>

	<!--Right side-->
	<span>
		<span class="fanpage-links">
			<a href="/" target="_blank" class="link-icon">
		    	<img alt="Facebook" src="/themes/bootstrap/images/icons/facebook.png" />
			</a>
			<a href="/" target="_blank" class="link-icon">
		    	<img alt="Facebook" src="/themes/bootstrap/images/icons/twitter.png" />
			</a>	
			<a href="/" target="_blank" class="link-icon">
		    	<img alt="Facebook" src="/themes/bootstrap/images/icons/instagram.png" />
			</a>
		</span>
		<hr class="hr-vertical">
		<span class="Acces-block">
			<a href="/" class="icon-left">
		    	<img alt="Facebook" src="/themes/bootstrap/images/icons/login.png" />
		    	<span>Acceder</span>
			</a>
		</span>
	</span>
</span>

<span class="auxiliar-bar">
	<!--Left side-->
	<span>
		<hr class="hr-vertical">
		<span class="help-links">
			<a href="/" class="icon-left">
				<img alt="reloj" src="/themes/bootstrap/images/icons/clock-quarter.png" />
		   		<span>Schedule</span>
			</a>
			<a href="#maps" class="icon-left">
		    	<img alt="reloj" src="/themes/bootstrap/images/icons/pin.png" />
		   		<span>How to arribe</span>
			</a>
		</span>
		<hr class="hr-vertical">
		<a href="/" class="asd">
	   		<span>Accesible website</span>
		</a>
	</span>

	<!--Right side-->
	<span>
		<span class="fanpage-links">
			<a href="/" target="_blank" class="link-icon">
		    	<img alt="Facebook" src="/themes/bootstrap/images/icons/facebook.png" />
			</a>
			<a href="/" target="_blank" class="link-icon">
		    	<img alt="Facebook" src="/themes/bootstrap/images/icons/twitter.png" />
			</a>	
			<a href="/" target="_blank" class="link-icon">
		    	<img alt="Facebook" src="/themes/bootstrap/images/icons/instagram.png" />
			</a>
		</span>
		<hr class="hr-vertical">
		<span class="Acces-block">
			<a href="/" class="icon-left">
		    	<img alt="Facebook" src="/themes/bootstrap/images/icons/login.png" />
		    	<span>Log-in</span>
			</a>
		</span>
	</span>
</span>

<div class="container"></div>


<div class="container"></div>


block--auxiliarnav.html.twig