/* open-sans-regular - latin */
@font-face {
  font-family: 'futura-light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/futura_std-light.otf');
}
html,body{
	font-family: futura-light;
}


#top-bar h1.page-header{
	padding-left: 20px;
	margin-bottom: 0;
}
.region.region-header{
	background: #5bc0de;
	color: #fff;
}
hr.verticalRight{
	border:         none;
    border-left:    1px solid #5bc0de;
    height:         100vh;
    width:          1px;    
}
hr.verticalLeft{
	border:         none;
    border-left:    1px solid #5bc0de;
    height:         100vh;
    width:          1px;    
}
#top-bar #search-block-form>div.form-group{
	margin-bottom: unset;
}
#block-searchform {
	min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#block-parahacerhome{
	color: #0096e0;
}
div.region.region-highlighted div.caption{
	margin: auto;
	text-align: center;
	color: #0096e0;
}

#contenido-pricipal{
	background: #fff;
	color: #0096e0;
	margin-top: 20px;
}
div.region.region-content .btn-info{
	border-color: #fff;
}
div.region.region-content div.views-field{
	color: #0096e0;
}
div.region.region-content div.views-field>span>a{
	color: #0096e0;
}
div.region.region-content img.img-responsive{
	margin: auto;
}
/*
* Horario page
*/
.page-horarios>div{
	padding-left: 10%;
}

@media (max-width: 768px) {
  div.row.page-horarios div{
    border-bottom: 1px solid #0096e0;
  }
}


.page-horarios{
	text-align: left;
}
.page-horarios p{
	font-size: 16px;
}
.listaNobullet{
	list-style: none;
}
.page-horarios .calendar-ico:before{
    background-image: url('../../images/icons/calendar.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:"";
}
.page-horarios .clock-ico:before{
    background-image: url('../../images/icons/clock.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:"";
}
.pin-ico:before{
	background-image: url('../../images/icons/pin.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:" ";
}
.phone-ico:before{
	background-image: url('../../images/icons/phone.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:" ";
}
.mail-ico:before{
	background-image: url('../../images/icons/mail.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:" ";
}
.car-ico:before{
	background-image: url('../../images/icons/8.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:" ";
}
.bus-ico:before{
	background-image: url('../../images/icons/9.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:" ";
}
.walk-ico:before{
	background-image: url('../../images/icons/10.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:" ";
}