/* open-sans-regular - latin */
@font-face {
  font-family: 'futura-light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/futura_std-light.otf');
}
html,body{
	font-family: futura-light;
}
@media only screen and (max-width:768px) {
    .navbar-toggle .icon-bar {
        background: #337ab7;
    }
}
/* Tablet */    
@media (min-width:768px) and (max-width:991px) {
    html {
        font-size: 12px;
    }
}
/* Desktop */
@media (min-width:992px) and (max-width:1600px) {
    html {
        font-size: 14px;
    }
}