/*#navbar.navbar-inverse {
	background: white;
	border-color: white;
}


#navbar li>a {
    color: #4daee1;
}

#navbar ul.dropdown-menu{
	min-width: -webkit-fill-available;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: aliceblue;
    text-decoration: underline;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}


li a:hover:not(.active) {
    background-color: #0496df || #42525a;
    font-weight: bold;
    color: white;
}
.main-enlaces li a.is-active { text-decoration: underline;}
*/



/*

.global-search{
	background: darkgray;
    padding-top: 15px;
}

#headerFather.main-header{
	background: white;
}
.brand-logo img{
	width: 100%;
	height: : auto;

}
.logo{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: no-repeat top left;
    vertical-align: middle;
    margin-top: 0;
}
.logo.branding-costanera{
    background-image: url(/themes/real/images/svg/costanera01.svg);
}
.logo.branding-costanera2{
    background-image: url(/themes/real/images/co.png);
}
.logo.branding-costanera{
    background-position: 0 -10px;
}

.main-enlaces.fl-right{
	text-align: right;
}
.main-enlaces.fl-left{
	text-align: left;
}
	
.main-enlaces.fl-right li{
	display: inline-block;
	padding: 0 15px;
}
.main-enlaces.fl-left li{
	display: inline-block;
	text-align: : left;
	padding: 0 15px;
}
.main-enlaces li a { color: #4daee1;}
*/
/*
* Apartado Logo
*/
#navbar a.logo>img {
    width: 100%;
}
#navbar a.logo> {
    margin: 0;
    padding: 0; 
}
/*
* Navegación auxiliar
*/
span.auxiliar-bar{
    display: flex;
    justify-content: space-between;
}

span.auxiliar-bar a:hover{
    text-decoration: none;
}
    span.auxiliar-bar a>img{
        height: 2rem;
    }
        span.auxiliar-bar a>span{
            vertical-align: middle;
        }
hr.hr-vertical{
    border:	none;
    display: inline;
    border-left:	1px solid #337ab7;
    height: 1.1rem;
    margin:	7px;
    width:	1px;
}

.auxiliar-bar .clock-quarter:before{
    background-image: url('../../images/icons/calendar.png');
    background-size: 1em 1em;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em; 
    height: 1em;
    content:"";
}
.auxiliar-bar .clock-quarter:before{
    background-image: url('../../images/icons/calendar.png');
    background-size: 1em 1em;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em; 
    height: 1em;
    content:"";
}
.auxiliar-bar .clock-quarter:before{
    background-image: url('../../images/icons/calendar.png');
    background-size: 1em 1em;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em; 
    height: 1em;
    content:"";
}
.auxiliar-bar .clock-quarter:before{
    background-image: url('../../images/icons/calendar.png');
    background-size: 1em 1em;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content:"";
}
.auxiliar-bar .clock-ico:before{
    background-image: url('../../images/icons/clock.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:"";
}
.auxiliar-bar .pin-ico:before{
	background-image: url('../../images/icons/pin.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px; 
    height: 30px;
    content:" ";
}




.page-horarios .clock-ico:before {
    background-image: url(/themes/bootstrap/images/icons/clock.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 30px;
    content: "";
}

#navbar .icons{
    display: inline-block;
    width: 36px;
    background: no-repeat top left;
    vertical-align: middle;
    margin-top: 0;
    padding: 0;
}
.icons.facebook{
   content: url(/themes/bootstrap/images/icons/facebook.png);
}
.icons.twitter{
   content: url(/themes/bootstrap/images/icons/twitter.png);
}
.icons.instagram{
   content: url(/themes/bootstrap/images/icons/instagram.png);
}

/*
* Main Navegation
*/
#navbar ul.menu--main{
    margin: 0;
}
    #navbar ul.menu--main>li{
        float: none;
    }
        #navbar ul.menu--main>li>ul>li>a{
            color: #337ab7;
            text-align: center;
        }


/* Mobile */
@media only screen and (max-width:768px) {
	.navbar-toggle .icon-bar {
		background: #337ab7;
	}
}
/* Tablet */	
@media only screen and (min-width:768px) and (max-width:991px) {
    #navbar ul.menu--main>li>a{
        padding: 0.4rem 0.4rem;
        font-size: 1rem;
    }
}
/* Desktop */
@media (min-width:951px) and (max-width:1600px) {
	
}

